html {
  font-size: 62.5%;
  color: #444444;
}

body {
  font-family: "Noto Sans JP", sans-serif, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 94px;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  z-index: 10;
  background-color: #fff;
}

.head-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1022px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  padding: 24px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-logo > h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-left: 16px;
}

.head-logo > img {
  width: 47px;
  height: 47px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-menu > li {
  margin-right: 46px;
}

.nav-menu > li:nth-child(3) {
  margin-right: 0;
}

.btn-trigger {
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
}

.btn-trigger span:nth-child(1) {
  top: 0;
}

.btn-trigger span:nth-child(2) {
  top: calc(50% - 4px / 2);
}

.btn-trigger span:nth-child(3) {
  bottom: 0;
}

.btn-trigger,
.btn-trigger span {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.active > span {
  background-color: #fff;
}

.active > span:nth-child(1) {
  -webkit-transform: translateY(14px) rotate(-45deg);
          transform: translateY(14px) rotate(-45deg);
}

.active > span:nth-child(2) {
  opacity: 0;
}

.active > span:nth-child(3) {
  -webkit-transform: translateY(-14px) rotate(45deg);
          transform: translateY(-14px) rotate(45deg);
}

.contact-btn {
  display: inline-block;
  width: 155px;
  height: 37px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  background: transparent -webkit-gradient(linear, left top, right top, from(#fa41cc), to(#6020b0)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #fa41cc 0%, #6020b0 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px;
}

#slide-nav {
  display: none;
}

#bg-layer {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main {
  max-width: 1366px;
  margin: 0 auto;
}

.top {
  width: 100%;
  height: 768px;
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: top -30px right -85px;
}

.container {
  max-width: 1022px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 225px;
  padding-bottom: 113px;
}

.top-left > h2 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.43;
}

.top-left > p {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 45px 0;
}

.top-right {
  width: 518px;
  height: 413px;
}

#features {
  margin-top: 71px;
}

.contents-title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.contents-sub {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #3BA6C9;
  line-height: 1.5;
}

.feature {
  margin: 57px 0 86px;
}

.feature-title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.42;
  margin-bottom: 50px;
}

.feature-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 86px;
}

.feature-content:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature-left {
  max-width: 380px;
}

.feature-right {
  width: 50%;
}

.feature-right > h2 {
  font-size: 2.4rem;
  line-height: 2;
  margin-bottom: 40px;
  font-weight: bold;
}

.feature-right > p {
  font-size: 1.6rem;
  line-height: 1.625;
  font-weight: bold;
}

#price {
  margin-top: 154px;
  background-color: #EEFBFB;
}

#price .contents-title {
  padding-top: 55px;
}

.price-list {
  margin: 70px auto 0;
  font-size: 1.6rem;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
}

td {
  border: solid 1px #E5E5E5;
}

td:nth-child(1) {
  width: 30%;
  padding: 35px 0 35px 19px;
}

td:nth-child(2) {
  padding: 35px 0 35px 30px;
}

.price-text {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 36px 0 68px;
}

#faq .contents-title {
  margin-top: 55px;
}

.faq-inner {
  padding: 36px 20px 86px;
}

.question, .answer {
  border: 1px solid #E5E5E5;
}

.question {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.85;
  padding: 20px 0;
  cursor: pointer;
}

.answer {
  background-color: #F2F2F2;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.85;
  padding: 35px 20px;
  display: none;
}

#blog {
  background-color: #EEFBFB;
}

#blog .container {
  max-width: 1230px;
}

#blog .contents-title {
  padding-top: 55px;
}

.blog-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 55px;
  padding-bottom: 104px;
}

.blog-link {
  width: calc(33% - 10px);
  overflow: hidden;
  -webkit-box-shadow: 2px 3px 6px #00000029;
          box-shadow: 2px 3px 6px #00000029;
}

.blog-text {
  position: relative;
  height: 127px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px 10px 18px;
  background-color: #fff;
}

.blog-text > h3 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.44;
  margin-bottom: 10px;
}

.blog-text > h3:hover {
  opacity: 0.8;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.blog-text > p {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.blog-text > p:hover {
  opacity: 0.8;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.zm:hover {
  opacity: 0.8;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.work {
  width: 100%;
  padding-bottom: 90px;
}

.work .contents-title {
  padding-top: 55px;
}

.swiper-container {
  margin-top: 55px;
}

.swiper-slide {
  max-width: 322px;
  border: 1px solid #DDDDDD;
}

.swipe-title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: calc(24 / 16);
  padding: 18px 16px 30px 18px;
}

.swipe-text {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: calc(20/14);
  padding: 0 16px 40px 18px;
}

#contact {
  width: 100%;
  background: transparent -webkit-gradient(linear, left top, right top, from(#05A5FA), color-stop(100%, #63FBD7), to(#67FFD6)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  padding-bottom: 70px;
}

#contact .contents-title {
  padding-top: 63px;
  color: #ffffff;
}

#contact .contents-sub {
  color: #ffffff;
  margin-bottom: 36px;
}

#contact .contact-text {
  color: #ffffff;
  font-size: 1.6rem;
  line-height: calc(24 / 16);
  font-weight: bold;
  text-align: center;
  padding-bottom: 44px;
}

.contact-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  padding: 35px 62px;
}

.formrun {
  width: 100%;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-content > label {
  font-size: 1.6rem;
  font-weight: bold;
}

.contact-content > input {
  margin: 25px 0 25px;
  width: 499px;
  height: 43px;
  background-color: #EEFBFB;
  border: none;
}

.contact-content > textarea {
  margin: 25px 0 25px;
  width: 100%;
  height: 179px;
  background-color: #EEFBFB;
  border: none;
}

@media (max-width: 625px) {
  .contact-content > input {
    width: 100%;
  }
  .contact-inner {
    padding: 35px 30px;
  }
}

.error-message {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: red;
}

.budge {
  padding: 5px 15px;
  background-color: #0C449B;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 20px;
}

.send {
  text-align: center;
}

.check-box {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-box > input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.submit-button {
  padding: 9px 50px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: calc(20 / 14);
  background: transparent linear-gradient(50deg, #FA41CC 0%, #6020B0 100%);
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border: none;
  margin-top: 30px;
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 50px;
}

footer > h4 {
  font-size: 1.4rem;
  line-height: calc(20/14);
}

.footer-title {
  font-size: 2.4rem;
  line-height: calc(28/24);
  font-weight: bold;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content > p {
  margin-right: 30px;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
}

.footer-content > p:nth-child(2) {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .blog-text {
    height: 200px;
  }
}

@media (max-width: 800px) {
  header {
    height: 75px;
  }
  .nav-menu {
    display: none;
  }
  #head-contact {
    display: none;
  }
  .btn-trigger,
  .btn-trigger span {
    display: inline-block;
  }
  #slide-nav {
    display: block;
    width: 300px;
    top: 0;
    right: -300px;
    background-color: #0996ce;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    height: 100vh;
    position: fixed;
    z-index: 2;
    color: #ffffff;
  }
  .nav-list a {
    color: white;
  }
  .nav-inner {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 80px;
  }
  .nav-inner .nav-list {
    padding: 30px;
  }
  #slide-nav.active {
    opacity: 1;
    right: 0;
  }
  .top-left > h2 {
    font-size: 2.8rem;
  }
  .top-left > p {
    font-size: 1.2rem;
  }
  #bg-layer.active {
    display: block;
    opacity: 0.6;
    z-index: 1;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #000;
  }
  .feature-right > h2 {
    font-size: 2rem;
  }
  .feature-right > p {
    font-size: 1.2rem;
  }
  #price {
    margin-top: 100px;
  }
  .blog-contents {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-link {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media (max-width: 573px) {
  .top {
    height: 100%;
  }
  .top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .top-right {
    width: 100%;
    height: 100%;
  }
  .features {
    margin-top: 0;
  }
  .contents-title {
    font-size: 2.8rem;
  }
  .feature-title {
    font-size: 2.4rem;
  }
  .feature-title > span {
    border-bottom: 1px solid #0996ce;
  }
  .feature-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature-content:nth-last-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature-left {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .feature-right {
    width: 100%;
  }
  .feature-right > h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  td {
    text-align: center;
  }
  td:nth-child(1) {
    width: 100%;
    padding: 30px 0;
    background-color: #f3f3f3;
  }
  td:nth-child(2) {
    padding: 30px 0;
  }
  .price-text {
    font-size: 1.2rem;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-content > p {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  .footer-content > p:nth-child(2) {
    margin-bottom: 30px;
  }
}

@media (max-width: 530px) {
  .blog-link {
    width: 100%;
  }
  .blog-text {
    height: 120px;
  }
}
/*# sourceMappingURL=style.css.map */
